.banner {
    padding: 178px 0;

    height: 355px;

    background-image: url(/statics/img/bg.png);
    background-color: lightblue;
}

.buildfile {
    margin: 1rem 0 0;
    font-style: italic;
}

.buildlang {
    font-weight: bold;
}

.file-cell {
    padding-top: 20px;
}

.container-slim {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
