body {
    font-size: 13pt;
    overscroll-behavior: none;
}

.banner {
    padding-top: 98px;
    padding-bottom: 98px;

    height: 355px;

    background-image: url(/statics/img/bg.png);
    background-color: lightblue;
}

.bannertitle {
    font-size: 53px;
    font-weight: bold;
    text-shadow: 0px 0px 25px #f5f5f5;
}

.bannertext {
    font-size: 16pt;
    text-shadow: 0px 0px 25px #f5f5f5;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .bannertitle {
        font-size: 72px;
    }

    .bannertext {
        font-size: 22pt;
    }
}

.buildfile {
    margin: 1rem 0 0;
    font-style: italic;
}

.buildlang {
    font-weight: bold;
}

.file-cell {
    padding-top: 20px;
}