//$primary: #96ccff;
//$primary: #067BC2;
//$primary: #0496FF;
$primary: #3aa7dd;
$secondary: #343a40;

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,700,700i";

.depscloud-cta {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
}

.collapse:not(.show) {
    display: block !important;
}

.highlight > pre {
    padding: 10px;
}
