---
layout: default
---

<div class="container" style="padding-top: 54px;">
    <div class="row">
        <div class="col-md-3">
            <ul style="list-style-type: none; padding-left: 0;">
                <li><a href="/contributing/">Contributing</a></li>
                <li><a href="/contributing/code-of-conduct/">Code of Conduct</a></li>
                <li>
                    Development Guides
                    <ul style="list-style-type: none;">
                        <li><a href="/contributing/develop/docker/">Docker</a></li>
                        <li><a href="/contributing/develop/local/">Locally</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>

<div style="padding-top: 100px;"></div>
