<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ site.name }}</title>

        <link rel="stylesheet" href="/statics/lib/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/statics/lib/font-awesome/5.10.0/css/all.min.css"/>
        <link rel="stylesheet" href="/statics/css/main.css"/>
        <link rel="shortcut icon" href="/statics/img/favicon.ico"/>
        <link rel="icon" href="/statics/img/favicon.ico" type="image/x-icon"/>

        <script src="/statics/lib/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="/statics/lib/popper.js/1.14.7/popper.umd.min.js"></script>
        <script src="/statics/lib/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/" style="font-weight: bold;">deps.cloud</a>

                <div class="collapse navbar-collapse" id="navbarText">
                    <div class="mr-auto"></div>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/contributing/">Contributing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/integrations/">Integrations</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/deps-cloud/deps.cloud">GitHub</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/docs/">Documentation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="banner" style="height: 280px;">
            <div class="container text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>

        {{ content }}

        <div style="padding: 54px 0 27px; background-color: #f3f3f3;">
            <div class="text-center">
                deps.cloud - Copyright &copy; 2019
            </div>
        </div>

        <div class="js">
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143087272-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-143087272-1');
            </script>
        </div>
    </body>
</html>
