---
layout: default
---

<div class="banner" style="height: 280px;">
    <div class="container text-center">
        <div class="bannertitle">{{ page.title }}</div>
    </div>
</div>

<div class="container" style="padding-top: 54px;">
    <div class="row">
        <div class="col-md-3">
            <ul style="list-style-type: none; padding-left: 0;">
                <li><a href="/docs/">Getting Started</a></li>
                <li>
                    <a href="/docs/configuration/">Configuration</a>
                    <ul style="list-style-type: none;">
                        <li><a href="/docs/configuration/bitbucket/">BitBucket</a></li>
                        <li><a href="/docs/configuration/github/">GitHub</a></li>
                        <li><a href="/docs/configuration/gitlab/">GitLab</a></li>
                    </ul>
                </li>
                <li>
                    User Guides
                    <ul style="list-style-type: none;">
                        <li><a href="/docs/">Docker</a></li>
                        <li><a href="/docs/user_guides/kubernetes/">Kubernetes</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
                {{ content }}
        </div>
    </div>
</div>
